<div class="container" *ngIf="incidents && incidents.length >0">
  <div class="main-select">
    <select [(ngModel)]="model" (ngModelChange)="setIncident()" class="form-select">
      <option *ngFor="let inc of incidents" [value]="inc.id" >
        {{inc.name}}
      </option>
    </select>
  </div>
  <div class="header-box" *ngIf="selectedIncident">
    <div class="select-box">
      <span>Priority:</span>
      <select [(ngModel)]="selectedIncident.priority" (change)="onEntityChange()" class="form-select">
        <option  *ngFor="let entity of getModelDef('priorities',selectedIncident.priority)">
          {{entity}}
        </option>
      </select>
    </div>
    <div class="select-box">
      <span>Priority:</span>
      <select [(ngModel)]="selectedIncident.status" (change)="onEntityChange()" class="form-select">
        <option  *ngFor="let entity of getModelDef('statuses',selectedIncident.status)">
          {{entity}}
        </option>
      </select>
    </div>
    <div class="select-box">
      <span>Priority:</span>
      <select [(ngModel)]="selectedIncident.country" (change)="onEntityChange()" class="form-select">
        <option  *ngFor="let entity of getModelDef('countries',selectedIncident.country)">
          {{entity}}
        </option>
      </select>
    </div>
</div>

